@font-face {
    font-family: myFirstFont;
    src:local("fonts/Raleway/static");
}


body{
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 57px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }
  
  h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }

  @media (max-width: 800px){


    h1 {
        font-weight: 700;
        font-size: 38px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #000000;
      }

    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #000000;
      }

      h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: black;
      }
      
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.6;
      }
      
    
    .grey-small-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.35;
      }
  }

  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: black;
  }
  
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.6;
  }
  

.grey-small-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.35;
  }

  .button-blue, text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

.title-small-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0536FC;
    opacity: 0.9;
    margin: 0;
  }

  .number-large {
    font-weight: 500;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }

  .orange-text-large {
    font-weight: 700;
    font-size: 162px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FF8201;
  }
  
  .slogan-text-large {
    font-weight: 700;
    font-size: 71px;
    line-height: 100%px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }

  @media (max-width:800px){
    .slogan-text-large {
        font-weight: 700;
        font-size: 28px;
        line-height: 100%px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #000000;
      }

      .number-large {
        font-weight: 500;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #000000;
      }
  }

  .block-title-small-white {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
  }